# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks used by
# Visual Studio Code. Relevant settings should be checked in.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will regenerate this file
android/key.properties
android/app/local.properties
android/app/generated_setup.gradle
android/app/google-services.json

# Visual Studio Code will regenerate this file
.vscode/settings.json

# Exceptions to above rules
!**/ios/Flutter/App.framework/Headers/App.h
